[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-restframework = "*"
djangorestframework = "*"
psycopg2-binary = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
